
.movie-card-link {
    text-decoration: none;
}

.movie-card {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    color: rgb(255, 255, 255);
    border: solid 5px gold;
    border-radius: 5px;
}

.movie-card-container {
    display: flex;
    justify-content: center;
}