
.movie-card-link {
    text-decoration: none;
}

.movie-card {
    background-size: contain;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    color: rgb(255, 9, 9);
}

.movie-card-container {
    display: flex;
    justify-content: center;
}